# sobstel

**Selected projects and companies that i worked for/with**

<a href="//www.appjobs.com">AppJobs</a> /
<a href="//baytekin.media">Baytekin</a> /
<a href="//no.getaround.com">Getaround Norge</a> (ex-<a href="//nabobil.no">Nabobil</a>) /
<a href="//www.globalsportsmedia.com">Global Sports Media</a> /
Microsoft /
<a href="//www.statsperform.com/opta/">Opta&nbsp;Sports</a> /
<a href="//www.protipster.com">ProTipster</a> /
<a href="//www.saxoinvestor.com">SaxoInvestor</a> /
SaxoPartnerConnect /
<a href="//www.home.saxo/platforms/saxotradergo">SaxoTraderGO</a> /
<a href="//www.home.saxo/platforms/saxotraderpro">SaxoTraderPRO</a> /
<a href="//www.soccerway.com">Soccerway</a> /
<a href="//www.statsperform.com/">Stats&nbsp;Perform</a>

**Selected repositories**

{%- for repo in repos %}
- [{{ repo.name }}]({{ repo.html_url }})
  {%- if repo.stargazers_count > 1 %} (★ {{ repo.stargazers_count }}){% endif -%}
  {%- if repo.description %} - {{ repo.description }}{% endif -%}
  {%- if repo.language != 'PHP' %} **{{ repo.language }}**{% endif -%}
{%- endfor %}

**Contributions**

{% for contrib in contribs -%}
[{{ contrib | split: '/' | last }}](https://github.com/{{ contrib }}/commits?author=sobstel)
{%- unless forloop.last %}, {% endunless %}
{% endfor %}

**Current forks**

{% for repo in forks -%}
[{{ repo.name }}]({{ repo`.html_url }})
{%- unless forloop.last %}, {% endunless %}
{% endfor %}

