**Selected repositories**

{%- for repo in repos %}
- [{{ repo.name }}]({{ repo.html_url }})
  {%- if repo.stargazers_count > 1 %} (★ {{ repo.stargazers_count }}){% endif -%}
  {%- if repo.description %} - {{ repo.description }}{% endif -%}
  {%- if repo.language != 'PHP' %} **{{ repo.language }}**{% endif -%}
{%- endfor %}
- contributions: {% for contrib in contribs -%}[{{ contrib | split: '/' | last }}](https://github.com/{{ contrib }}/commits?author=sobstel){%- unless forloop.last %}, {% endunless %}{% endfor %}
- current forks: {% for repo in forks -%}[{{ repo.name }}]({{ repo`.html_url }}){%- unless forloop.last %}, {% endunless %}{% endfor %}

**Some projects and companies that I worked for**

- <a href="//www.home.saxo/platforms/saxotradergo">SaxoTraderGO</a>, <a href="//www.saxoinvestor.com">SaxoInvestor</a>, SaxoPartnerConnect, <a href="//www.home.saxo/platforms/saxotraderpro">SaxoTraderPRO</a>
- <a href="//no.getaround.com">Getaround Norge</a> (ex-<a href="//nabobil.no">Nabobil</a>)
- <a href="//www.appjobs.com">AppJobs</a>, <a href="//www.protipster.com">ProTipster</a>, <a href="//baytekin.media">Baytekin</a>
- <a href="//www.statsperform.com/opta/">Opta&nbsp;Sports</a>, <a href="//www.statsperform.com/">Stats&nbsp;Perform</a>, Microsoft, <a href="//www.soccerway.com">Soccerway</a>, <a href="//www.globalsportsmedia.com">Global Sports Media</a>

**Pet projects**

- <a href="//viztrail.com">viztrail.com</a> (in progress)
- <a href="//sobstel.dev/hydropuzzle/">hydropuzzle</a>
- <a href="//golazon.com">golazon.com</a>
- <a href="//albicelestes.com">albicelestes.com</a>
- <a href="//github.com/sobstel/locals">locals</a>
- <a href="//github.com/sobstel/sequent">sequent</a>

**Recent gists**

{% for gist in gists | limit: 10 -%}
- [{{ gist.title }}]({{ gist.url }}) ({{ gist.date | date: "%b %Y" }})
{% endfor -%}
- <a href="GISTS.md">more...</a>
